.image-list{
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
    box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
    background: #eee;
    cursor: pointer;
    vertical-align: middle;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    position: relative;
  }
  .image-list:before{
    content: '';
    position: absolute;
    display: none;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 5px #c60c31;
  }
  .image-list:hover:before{
    display: block;
  }

  /* Payment method*/
  .image-list1{
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
    box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
    background: #eee;
    cursor: pointer;
    vertical-align: middle;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    position: relative;
  }
  .image-list1:before{
    content: '';
    position: absolute;
    display: none;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 5px #c60c31;
  }
  .image-list1:hover:before{
    display: block;
  }




#customize-controls img {
    max-width: 100%;
}

.ostore-preloader {
    width: 50px;
    display: block;
    float: left;
    padding: 14px;
    background: #FFFFFF;
    height: 50px;
    margin: 1px;
    text-align: center;
    border: 3px solid #C5C5C5;
}

.ostore-preloader:hover, .ostore-preloader.active {
    border-color: red;
}


.ostore-pro-preloader-container span img {
  width: 30% !important; 
}